#notification-container {
  left: calc(100% / 2 - 16px - 100px);
  margin: 0 auto;
  position: fixed;
}
#notification-container #remove-all {
  background: #ffd7d1;
  border: 2px solid #e03f28;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  visibility: hidden;
  transition: 0.2s;
}
#notification-container #remove-all i {
  color: #e03f28;
}
#notification-container #remove-all.displayed {
  visibility: visible;
}

.notification {
  align-items: flex-start;
  animation-duration: 0.5s;
  animation-name: open;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
  width: 200px;
}
.notification--error {
  background: #e03f28;
}
.notification--success {
  background: #379935;
}
.notification--error .notification__close {
  color: #8c2718;
}
.notification--error .notification__close:hover {
  color: #671b10;
}
.notification--success .notification__close {
  color: #2a6628;
}
.notification--success .notification__close:hover {
  color: #1d481c;
}
.notification--closing {
  animation: close 0.8s forwards;
}
.notification__description {
  font-size: 12px;
  margin: 0 15px 0 0;
}
.notification__close {
  cursor: pointer;
  font-size: 12px;
  transition: 0.2s;
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes close {
  from {
    opacity: 1;
  }
  70% {
    margin-bottom: 10px;
    max-height: 100px;
    opacity: 0;
    padding: 10px 10px 10px 20px;
  }
  to {
    margin-bottom: 0;
    max-height: 0;
    opacity: 0;
    padding: 0 10px 0 20px;
  }
}
* {
  font-family: "Source Code Pro", monospace;
}

button {
  background: #4c55fc;
  border: 1px solid #4c55fc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 5px 20px;
  margin: 10px;
  max-width: 200px;
  transition: 0.2s;
}
button.secondary {
  background: transparent;
  color: #4c55fc;
}
button:hover {
  background: #5e66f6;
  border-color: #5e66f6;
  color: #fff;
}
button.multi-line-button {
  align-items: center;
  display: flex;
  flex-direction: column;
}
button.multi-line-button span {
  font-size: 10px;
}

h1 {
  font-size: 20px;
}

.simulator {
  display: flex;
  flex-wrap: wrap;
}
.simulator label {
  display: block;
}

.registers,
.mov-xchg,
.processor-memory-communication,
.stack {
  margin: 0 40px 50px 0;
}

.registers {
  display: flex;
  flex-direction: column;
}
.registers__operations {
  display: flex;
}
.registers label {
  margin-bottom: 10px;
}
.registers input {
  width: 50px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.registers input.error {
  border-color: #e03f28;
}
.registers input[disabled] {
  background: #dadada;
}
.registers .displacement {
  border-top: 1px dashed #aaa;
  margin-top: 10px;
  padding-top: 20px;
}

/*# sourceMappingURL=style.css.map */
