@import "notification/notification";
* {
  font-family: 'Source Code Pro', monospace;
}


button {
  background: #4c55fc;
  border: 1px solid #4c55fc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 5px 20px;
  margin: 10px;
  max-width: 200px;
  transition: .2s;

  &.secondary {
    background: transparent;
    color: #4c55fc;
  }

  &:hover {
    background: #5e66f6;
    border-color: #5e66f6;
    color: #fff
  }

  &.multi-line-button {
    align-items: center;
    display: flex;
    flex-direction: column;

    span {
      font-size: 10px;
    }
  }
}

h1 {
  font-size: 20px;
}

.simulator {
  display: flex;
  flex-wrap: wrap;

  label {
    display: block;
  }
}

.registers,
.mov-xchg,
.processor-memory-communication,
.stack {
  margin: 0 40px 50px 0;
}

.registers {
  display: flex;
  flex-direction: column;

  &__operations {
    display: flex;
  }

  label {
    margin-bottom: 10px;
  }

  input {
    width: 50px;
    border: 1px solid #aaa;
    border-radius: 5px;

    &.error {
      border-color: #e03f28;
    }

    &[disabled] {
      background: #dadada;
    }
  }

  .displacement {
    border-top: 1px dashed #aaa;
    margin-top: 10px;
    padding-top: 20px;
  }
}