#notification-container {
  left: calc(100% / 2 - 16px - 100px);
  margin: 0 auto;
  position: fixed;

  #remove-all {
    background: #ffd7d1;
    border: 2px solid #e03f28;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    visibility: hidden;
    //opacity: 0;
    transition: .2s;

    i {
      color: #e03f28;
    }

    &.displayed {
      //opacity: 1;
      visibility: visible;
    }
  }
}

.notification {
  align-items: flex-start;
  animation-duration: .5s;
  animation-name: open;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
  width: 200px;

  &--error {
    background: #e03f28;
  }

  &--success {
    background: #379935;
  }

  &--error &__close {
    color: #8c2718;

    &:hover {
      color: #671b10;
    }
  }

  &--success &__close {
    color: #2a6628;

    &:hover {
      color: #1d481c;
    }
  }

  &--closing {
    animation: close .8s forwards;
  }

  &__description {
    font-size: 12px;
    margin: 0 15px 0 0;
  }

  &__close {
    cursor: pointer;
    font-size: 12px;
    transition: .2s;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  70% {
    margin-bottom: 10px;
    max-height: 100px;
    opacity: 0;
    padding: 10px 10px 10px 20px;
  }
  to {
    margin-bottom: 0;
    max-height: 0;
    opacity: 0;
    padding: 0 10px 0 20px;
  }
}